<h2>Edit <%= @animal.name %></h2>
<form method="POST" action="/animals/<%=@animal.id%>">
    <ul>    
    <li> Name: <%= @animal.name %> </li>
<li> Date of birth: <%= @animal.date_of_birth %> </li>
<li> Animal type: <%= @animal.type_breed %> </li>
        <li>
            <label for="owner">Owner name: </label>
                <input id="owner" type="text" name="owner_name" value="<%=@animal.owner_name%>">
        </li>
        <li>
            <label for="owner-number">Owner telephone number: </label>
                <input id="owner-number" type="text" name="owner_phone_number" value="<%=@animal.owner_phone_number%>">
        </li>
        <li>
            <label for="behavioural-notes">Behavioural notes: </label>
                <input id="behavioural-notes" type="text" name="treatment_note" value="<%=@animal.treatment_note%>"/>
        </li>
        <li>
            <label for="vet-select">Vet: </label>
            <select name="vet_id" id="vet-select" selected="<%=@animal.vet_id%>">
                <% @vets.each do |vet| %>
                    <% if vet.id == @animal.vet_id %>
                        <option value=<%=vet.id%> selected><%=vet.name%> (Registered animals: <%=vet.count_animals%>)</option>
                    <% else %>
                        <option value=<%=vet.id%>><%=vet.name%> (Registered animals: <%=vet.count_animals%>)</option>
                    <%end%>
                <%end%>
            </select>
        </li>
            <input type="submit" value="Confirm new details">
        
    </ul>
</form>