<p> Name: <%= @animal.name %> </p>
<p> Date of birth: <%= @animal.date_of_birth %> </p>
<p> Animal type: <%= @animal.type_breed %> </p>
<p> Owner name: <%= @animal.owner_name %> </p>
<p> Owner contact number: <%= @animal.owner_phone_number %> </p>
<p> Veterinarian: <% vet =@animal.vet%><%=vet.name%> </p>
<p> Treatment notes: <%= @animal.treatment_notes %> </p>

<a href="/animals/<%=@animal.id %>/edit">Edit</a>
<form action="/animals/<%=@animal.id %>/delete" method="POST"><input type="submit" value="Remove"></form>